* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.9;
}
h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

main {
  /* takes full spaces of the monitor  */
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  /* background: white; */
  min-height: 80vh;
  width: 75%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  /* //default z-index is 1  */
  z-index: 2;

  /* blur */
  backdrop-filter: blur(2rem);

  display: flex;

  margin: 5rem 0;
}

.circle1,
.circle2 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  height: 15rem;
  width: 15rem;

  position: absolute;

  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 5%;
}

.circle2 {
  bottom: -75%;
  left: 5%;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  padding: 1rem;
}

.games {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}

.link h2 {
  padding: 0 2rem;
}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  padding: 1rem;
  color: white;
  position: relative;
}

.pro img {
  position: absolute;
  top: 10%;
  right: 10%;
}

.pro h2 {
  width: 40%;
  color: white;
  font-weight: 600;
}

/* Games */

.status {
  margin-bottom: 3rem;
}

.status input {
  width: 50%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  border: none;
  border-radius: 2rem;
  padding: 0.5rem;
}

.status input:focus {
  outline: none;
}

.games {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  justify-content: space-between;

  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  text-align: start;
}

.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.progress::after {
  content: '';
  background: silver;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 60%;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}

.percentage {
  font-weight: 700;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
